In [3]:
#postgreSQLTable = ['ru_soil_moisture','bursa_soil_moisture','ugent_soil_moisture']
#('postgresql+psycopg2://postgres:postgres@127.0.0.1:5432/addferti_lorawan', pool_recycle=3600);

library(RPostgreSQL)

postgreSQLTable = "bursa_soil_moisture"
dsn_database    = "addferti_lorawan"    # Postgres databasename
dsn_hostname    = "127.0.0.1"  
dsn_port        = "5432"                
dsn_uid         = "postgres"            # Postgres username 
dsn_pwd         = "postgres"            # Postgres password 

tryCatch({
    drv <- dbDriver("PostgreSQL")
    print("Connecting to Database…")
    connec <- dbConnect(drv, 
                 dbname = dsn_database,
                 host = dsn_hostname, 
                 port = dsn_port,
                 user = dsn_uid, 
                 password = dsn_pwd)
    print("Database Connected!")
    },
    error=function(cond) {
            print("Unable to connect to Database.")
    })

SQL1 <- "SELECT DISTINCT ON (device_id) device_id, soil_temp, soil_mc, soil_ec, lat, long FROM"
SQL2 <- postgreSQLTable
SQL3 <- "ORDER BY device_id, recieved_at desc; " 
SQL <- paste(SQL1, SQL2, SQL3)
SQL

df <- dbGetQuery(connec, SQL)
df

[1] "Connecting to Database…"
[1] "Database Connected!"

[1] "SELECT DISTINCT ON (device_id) device_id, soil_temp, soil_mc, soil_ec, lat, long FROM bursa_soil_moisture ORDER BY device_id, recieved_at desc; "

   device_id  soil_temp soil_mc soil_ec lat      long
1  buu-lse-01 23.16     46.97   1571    40.13633 28.38297
2  buu-lse-02 24.73     20.74    552    40.13769 28.38388
3  buu-lse-03 23.14      7.37    132    40.13910 28.38262
4  buu-lse-04 23.48     28.81    502    40.13895 28.38326
5  buu-lse-06 24.60     21.46    698    40.13590 28.38435
6  buu-lse-09 18.66     22.09    382    40.13663 28.38332
7  buu-lse-10 18.58     25.34    475    40.13898 28.38375
8  buu-lse-12 18.55     24.01    466    40.13790 28.38355
9  buu-lse-14 22.98     32.98   3797    40.14046 28.38288
10 buu-lse-15 18.63     26.54    495    40.13754 28.38446
11 buu-lse-16 23.02     42.65   1775    40.14090 28.38338
12 buu-lse-17 24.09      0.00      0    40.14049 28.38346
13 buu-lse-18 18.37     25.58    458    40.14022 28.38384

In [2]:
library(ssh)
session <- ssh_connect("jeroen@dev.opencpu.org")
print(session)
#curl -v -k -u admin:addferti -XGET https://geoportal.addferti.eu/geoserver/rest/workspaces/geonode

Server fingerprint: 1b:3c:f2:60:85:89:af:65:cc:c2:fb:65:92:57:e0:ae:2c:14:5f:cf

ERROR: Error: Authentication with ssh server failed

In [65]:
library(curl) #Doc: https://cran.r-project.org/web/packages/curl/vignettes/intro.html

h <- new_handle()
handle_setopt(h, VERBOSE = 1)         #libcurl doc: https://curl.se/libcurl/c/
handle_setopt(h, SSL_VERIFYPEER = 0)  # for insecure connections

req <- curl_fetch_memory("https://geoportal.addferti.eu/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&typename=geonode%3ATurkey_Grid_2022&outputFormat=json&srs=EPSG%3A32635&srsName=EPSG%3A32635", handle = h)

str(req)
# takes to long for bigger files:
#jsonlite::prettify(rawToChar(req$content))

List of 7
 $ url        : chr "https://geoportal.addferti.eu/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&typename=geonode%3ATur"| __truncated__
 $ status_code: int 200
 $ type       : chr "application/zip"
 $ headers    : raw [1:325] 48 54 54 50 ...
 $ modified   : POSIXct[1:1], format: NA
 $ times      : Named num [1:6] 0 0.00182 0.00182 0.00241 0.09804 ...
  ..- attr(*, "names")= chr [1:6] "redirect" "namelookup" "connect" "pretransfer" ...
 $ content    : raw [1:117651] 50 4b 03 04 ...
 raw [1:117651] 50 4b 03 04 ...