In [5]:
#postgreSQLTable = ['ru_soil_moisture','bursa_soil_moisture','ugent_soil_moisture']
#('postgresql+psycopg2://postgres:postgres@127.0.0.1:5432/addferti_lorawan', pool_recycle=3600);

library(RPostgreSQL)

postgreSQLTable = "bursa_soil_moisture"
dsn_database    = "addferti_lorawan"    # Postgres databasename
dsn_hostname    = "127.0.0.1"  
dsn_port        = "5432"                
dsn_uid         = "postgres"            # Postgres username 
dsn_pwd         = "postgres"            # Postgres password 

tryCatch({
    drv <- dbDriver("PostgreSQL")
    print("Connecting to Database…")
    connec <- dbConnect(drv, 
                 dbname = dsn_database,
                 host = dsn_hostname, 
                 port = dsn_port,
                 user = dsn_uid, 
                 password = dsn_pwd)
    print("Database Connected!")
    },
    error=function(cond) {
            print("Unable to connect to Database.")
    })

SQL1 <- "SELECT DISTINCT ON (device_id) device_id, soil_temp, soil_mc, soil_ec, lat, long FROM"
SQL2 <- postgreSQLTable
SQL3 <- "ORDER BY device_id, recieved_at desc; " 
SQL <- paste(SQL1, SQL2, SQL3)
SQL

df <- dbGetQuery(connec, SQL)
df

[1] "Connecting to Database…"
[1] "Database Connected!"

[1] "SELECT DISTINCT ON (device_id) device_id, soil_temp, soil_mc, soil_ec, lat, long FROM bursa_soil_moisture ORDER BY device_id, recieved_at desc; "

   device_id  soil_temp soil_mc soil_ec lat      long
1  buu-lse-01 21.83     47.50   1450    40.13633 28.38297
2  buu-lse-02 24.79     17.57    300    40.13769 28.38388
3  buu-lse-03 22.72     24.61    424    40.13910 28.38262
4  buu-lse-04 22.61     22.08    259    40.13895 28.38326
5  buu-lse-06 24.60     19.06    363    40.13590 28.38435
6  buu-lse-10 22.37     34.61   7765    40.13898 28.38375
7  buu-lse-14 21.94     32.65   3465    40.14046 28.38288
8  buu-lse-16 21.69     43.91   1719    40.14090 28.38338
9  buu-lse-17 22.56     29.55   5278    40.14049 28.38346
10 buu-lse-18 21.73     34.87    793    40.14022 28.38384

In [2]:
library(ssh)
session <- ssh_connect("jeroen@dev.opencpu.org")
print(session)
#curl -v -k -u admin:addferti -XGET https://geoportal.addferti.eu/geoserver/rest/workspaces/geonode

Server fingerprint: 1b:3c:f2:60:85:89:af:65:cc:c2:fb:65:92:57:e0:ae:2c:14:5f:cf

ERROR: Error: Authentication with ssh server failed